//colors
$color-dark-cyan: hsla(192, 37%, 48%, 1);
$color-dark-violet: hsla(268, 34%, 53%, 1);
$color-light-cyan: hsla(192, 90%, 77%, 1);
$color-light-violet: hsla(268, 100%, 86%, 1);
$color-black: rgb(55, 55, 82);
$color-gray: hsla(240, 10%, 57%, 1);
$color-light-gray: hsla(240, 10%, 57%, 0.25);
$color-white: hsla(0, 0%, 98%, 1);
$color-cyan-hover: hsla(192, 54%, 64%, 1);
$color-violet-hover: hsla(268, 55%, 71%, 1);
$color-text-gradient: linear-gradient(92.19deg, #855FB1 -15.84%, #4D96A9 114.64%);


@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');


// Define breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Mixins for responsive design
@mixin respond-to($breakpoint) {
    @if $breakpoint ==tablet {
        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
            @content;
        }
    }

    @else if $breakpoint ==desktop {
        @media (min-width: $breakpoint-desktop) {
            @content;
        }
    }
}

//flex mixin
@mixin flex-centering($direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

//button mixin
@mixin btn($bgcolor, $size) {
    margin: 5% 5% 0 5%;
    background-color: $bgcolor;
    color: white;
    font-weight: 600;
    width: $size;
    padding: 0.8rem;
    border-radius: 25px;
    border: none;
    cursor: pointer;

    &:hover {
        opacity: 0.5;
    }
}

// Base styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'IBM Plex Sans', sans-serif;
    text-rendering: optimizeSpeed;
    color: #333;
    @include flex-centering(column);

}

p {
    font-size: 0.85rem;
    line-height: 1.25rem;
    font-weight: 400;
    margin: 0 auto;
    max-width: 65%;
    margin-bottom: 10%;
    margin-top: 10%;

    @include respond-to(tablet) {
        margin-bottom: 5%;
        margin-top: 5%;

    }

    @include respond-to(desktop) {
        max-width: 35%; //
        margin-bottom: 2.5%; //
        margin-top: 2.5%; //
    }
}

h2 {
    font-weight: 800;
    margin: 0 auto;
    max-width: 65%;
    margin-bottom: 5%;

    @include respond-to(desktop) {
        max-width: 30%;
        font-size: 2rem;
        margin-bottom: 0;
        line-height: 2rem;
    }
}

nav {

    @include flex-centering(row);
    gap: 30%;
    padding: 40%;

    .meet {
        transition: ease-out 1s;
    }

    .icon {
        transition: ease-out 1s;

        &:hover {
            transform: rotate(360deg);
        }
    }

    @include respond-to(tablet) {}

    @include respond-to(desktop) {}
}

.number-bar {
    @include flex-centering(column);
    margin: 0 auto;
    content: "";
    width: 0.0625rem;
    height: 5.25rem;
    background-color: $color-light-gray;
}

.number {
    @include flex-centering(row);
    color: $color-gray;
    font-size: small;
    font-weight: 600;
    background-color: $color-white;
    border: 0.0938rem solid $color-light-gray;
    border-radius: 6.25rem;
    margin: 0 auto;
    width: 3rem;
    height: 3rem;
}


.hero {
    margin-bottom: 10%;

    @include respond-to(desktop) {
        margin: 0 5%;
        padding: 0 5%;

        width: 100%;
        @include flex-centering(row);

        .hero-images2 {
            width: 30%;
            display: flex;

            &:hover {
                content: url('assets/desktop/image-hero-right-hover.png');
            }
        }
    }

}

.hero-images1 {
    padding: 0 10% 10% 10%;

    picture {
        img {
            width: 100%;

            &:hover {
                content: url('assets/image-hero-hover.png');
            }
        }
    }

    @include respond-to(desktop) {
        padding: 0;
        width: 30%;
        display: flex;

        picture {
            width: 100%;
            display: flex;

            img {
                width: 100%;
                // src: url('assets/desktop/image-hero-left.png');

                &:hover {
                    content: url('assets/desktop/image-hero-left-hover.png');
                }
            }
        }
    }
}

.hero-text {
    @include flex-centering(column);
    text-align: center;

    h1 {
        font-size: 2.5rem;
        margin: 0 auto;
        max-width: 65%;
    }

    @include respond-to(desktop) {
        margin: 0 5% 5% 5%;
        width: 30%;

        h1 {
            font-size: 3.25rem;
            max-width: 90%;
            line-height: 3.25rem;
        }

        p {
            max-width: 100%;
            margin-top: 5%;
            padding-top: 2.5%;
        }
    }
}

.btn-group {
    text-align: center;

    @include respond-to(tablet) {
        width: 65%;
        @include flex-centering(row);
        justify-content: space-between;
        align-items: baseline;

    }

    @include respond-to(desktop) {
        margin-top: 5%;
        width: 100%;
        @include flex-centering(row);
        justify-content: space-between;
        align-items: baseline;

    }
}

.downloadbtn1 {
    @include btn($color-dark-cyan, 80%);
    margin-bottom: 2%;

    @include respond-to(tablet) {
        margin-top: 0;
        @include btn($color-dark-cyan, 40%);
    }

}

.whatbtn {
    @include btn($color-dark-violet, 60%);

    @include respond-to(tablet) {
        @include btn($color-dark-violet, 30%);
    }
}


.gradient-text {
    background: $color-text-gradient;
    -webkit-background-clip: text;
    color: transparent;
    /* Fallback for non-WebKit browsers */
    -webkit-text-fill-color: transparent;
    /* For WebKit browsers */
}


.hero-images2 {
    display: none;
}


.divider1 {
    margin-bottom: 10%;

    @include respond-to(desktop) {
        margin-bottom: 5%;
    }
}


.section-one {
    text-align: center;

    .section-one-photos {
        @include flex-centering(row);
        flex-wrap: wrap;
        gap: 5%;

        img {
            width: 40%;
            border-radius: 5px;
            margin-bottom: 5%;
        }
    }

    h3 {
        color: $color-dark-cyan;
        font-size: 0.8rem;
        margin-bottom: 5%;
    }



    @include respond-to(tablet) {}

    @include respond-to(desktop) {
        max-width: 80%;

        .section-one-photos {
            img {
                width: 20%;
            }

        }

        h3 {
            margin-bottom: 2.5%;
        }


    }
}

.divider2 {
    margin-bottom: 10%;
    z-index: 10;
}

.section-two {
    background-color: $color-dark-cyan ;
    position: relative;
    text-align: center;
    color: $color-white;
    z-index: 1;
    margin-top: -3.8rem;
    padding: 15% 0;


    .downloadbtn2 {
        @include btn($color-dark-violet, 40%);
        margin-bottom: 0;
        margin-top: 0;
    }

    @include respond-to(tablet) {
        margin-top: -5.4rem;
        padding: 10% 0;
    }

    @include respond-to(desktop) {
        @include flex-centering(row);
        text-align: left;
        // align-items:baseline;
        padding: 2.5% 15%;
        width: 100%;
        margin-top: -9.7rem;
        gap: 2.5%;

        h2 {
            margin: 0;
        }

        p {
            margin: 0;
        }

        .downloadbtn2 {
            @include btn($color-dark-violet, 20%);
            margin: 0;

        }

    }
}

.section-two::before {
    content: "";
    background-image: url('assets/mobile/image-footer.jpg');
    // background-position: left 50% top;

    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    // width: 100%;
    // height: 100%;
    opacity: 0.2;
    /* Adjust opacity here */
    z-index: -5;
    /* Ensures the background stays behind the content */
}